# If pipenv fails with: TypeError: 'module' object is not callable
# Run: pipenv run pip install pip==18.0

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
green       = "*"
coverage    = "*"
mock        = "*"
pylint      = "*"
autopep8 = "*"

[packages]
requests    = "*"
coloredlogs = "*"
setuptools  = "*"
docker-compose = "*"

[requires]
python_version = "3.10"
